[submodule "Projects/Macroeconomic-Regime-Analysis-Credit-Risk"]
	path = Projects/Macroeconomic-Regime-Analysis-Credit-Risk
	url = https://github.com/virajparmaj/Macroeconomic-Regime-Analysis-Credit-Risk.git
